@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.containers{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../images/bg_4.jpg") no-repeat;
    column-gap: 30px;
    height: 1000px;
}
.form{
    position: absolute;
    max-width: 600px;
    width: 100%;
    padding: 30px;
    border-radius: 10px;
    background: rgba(0, 0,0, 0.3);
}

header{
    font-size: 28px;
    font-weight: 600;
    color: orangered;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 10px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #fd7e14;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: orangered;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options{
    border-radius: 10px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-google,.fa-facebook{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
.color-facebook{
    background-color: #3B5998;
}
.color-google{
    background-color: #EA4335;
}
a.google ,a.facebook span{
    font-weight: 500;
    opacity: 0.6;
    color: white;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}