<section class="containers forms" ng-controller="changepassController">
    <div class="form signup">
        <div class="form-content">
            <header>Đổi Mật Khẩu</header>
            <form action="#" name="formchangepass">
                <div class="form-group">
                    <label for="exampleInputEmail1">Mật khẩu cũ *</label>
                    <input type="password" class="form-control " ng-model="changepass.password" id="password"
                        aria-describedby="emailHelp" placeholder="Mật Khẩu Cũ" name="txtpassword" required>
                    <span style="color: red; font-size: 15px;"
                        ng-show="formchangepass.txtpassword.$dirty && formchangepass.txtpassword.$error.required">Password
                        không
                        được
                        bỏ
                        trống</span>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mật Khẩu mới *</label>
                    <input type="password" class="form-control" ng-model="changepass.newpass" id="newpass"
                        aria-describedby="emailHelp" placeholder="Mật Khẩu Mới" name="txtnewpass" required>
                    <span style="color: red; font-size: 15px;"
                        ng-show="formchangepass.txtnewpass.$dirty && formchangepass.txtnewpass.$error.required">New
                        Password không
                        được
                        bỏ
                        trống</span>
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Xác nhận mật khẩu *</label>
                    <input type="password" class="form-control" ng-model="changepass.confirmnewpass" id="confirmnewpass"
                        aria-describedby="emailHelp" placeholder="Nhập Lại Mật Khẩu" name="txtconfirmnewpass" required>
                    <span style="color: red; font-size: 15px;"
                        ng-show="formchangepass.txtconfirmnewpass.$dirty && formchangepass.txtconfirmnewpass.$error.required">Confirm
                        New Password không
                        được
                        bỏ
                        trống</span>
                </div>
                <br>
                <div class="field button-field">
                    <button type="button" ng-click="submitForm()" ng-disabled="formchangepass.$invalid"
                        class="btn bg-gradient-dark w-100 my-4 mb-2">Thay Đổi</button>
                </div>
            </form>


        </div>

    </div>
</section>