
<section class=" hero-wrap-2 js-fullheight"
  style="background-image: url('images/bg_4.jpg');height: 40rem; background-color: rgba(0, green, blue, alpha);">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
      <div class="col-md-9  pb-5 text-center" style="margin-top: 30rem;">
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang Chủ <i
                class="fa fa-chevron-right"></i></a></span> <span>Liên Hệ<i class="fa fa-chevron-right"></i></span></p>
        <h1 class="mb-0 bread">Liên Hệ</h1>
      </div>
    </div>
  </div>
</section>
<div class="container" ng-controller="feedbackController">

  <section class="ftco-section ftco-no-pb contact-section mb-4">
    <div class="container">
      <div class="row d-flex contact-info">
        <div class="col-md-3 d-flex">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-map-marker"></span>
            </div>
            <h3 class="mb-2">Địa Chỉ</h3>
            <p>Công viên phần mềm Quang QTSC Building 1, Trung, P Q.12, Thành phố Hồ Chí Minh, Vietnam</p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-phone"></span>
            </div>
            <h3 class="mb-2">Điện Thoại Liên Hệ</h3>
            <p><a href="tel://1234567920">0999999999</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-paper-plane"></span>
            </div>
            <h3 class="mb-2">Email</h3>
            <p><a href="mailto:info@yoursite.com">travelbee@gmail.com</a></p>
          </div>
        </div>
        <div class="col-md-3 d-flex">
          <div class="align-self-stretch box p-4 text-center">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-globe"></span>
            </div>
            <h3 class="mb-2">Hỏi Đáp</h3>
            <p><a href="https://www.facebook.com/profile.php?id=61553337365112">Mở Liên Kết</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section contact-section ftco-no-pt">
    <div class="container">
      <div class="row block-9">
        <div class="col-md-6 order-md-last d-flex">
          <form class="bg-light p-5 contact-form" name="formfb">

            <div class="form-group">
              <input type="text" class="form-control" required placeholder="Tiêu đề" name="txttitle" ng-model="feedback.title">
              <span style="color: red; font-size: 15px;"
                ng-show="formfb.txttitle.$dirty && formfb.txttitle.$error.required">Tiêu đề không được bỏ
                trống</span>
            </div>
            <div class="form-group">
              <textarea name="txtcontent" id="" cols="30" rows="10" class="form-control" placeholder="Nội Dung"
                ng-model="feedback.content" required></textarea>
              <span style="color: red; font-size: 15px;"
                ng-show="formfb.txtcontent.$dirty && formfb.txtcontent.$error.required">Nội dung không được bỏ
                trống</span>
            </div>
            <div class="form-group">
              <input type="file" id="fileInputfb" >
            </div>
            <div class="form-group">
              <button type="button" ng-disabled="formfb.$invalid" ng-click="send()"
                class="btn btn-primary py-3 px-5">Gửi phản hồi</button>
            </div>
          </form>

        </div>

        <div class="col-md-6 d-flex">
          <iframe style="border-radius: 10px;"
            src="https://www.google.com/maps/d/u/0/embed?mid=1_TXz_yUSbaDWsQbBNMIwnve73OB-N1k&ehbc=2E312F" width="640"
            height="600"></iframe>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-section ftco-no-pt">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 text-center">
          <div class="img" style="background-image: url(images/bg_2.jpg);">
            <div class="overlay"></div>
            <h2>We Are Pacific A Travel Agency</h2>
            <p>We can manage your dream building A small river named Duden flows by their place</p>
            <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>