<footer class="ftco-footer">
    <div class="card  text-center">
        <div class="row">
            <div class="col-md pt-5">
                <div class="ftco-footer-widget pt-md-5 mb-4">
                    <h2 class="ftco-heading-2"><img src="https://firebasestorage.googleapis.com/v0/b/travel-bee-e0b59.appspot.com/o/logo.png?alt=media&token=9b7bf685-a7ff-49d9-9413-abdeee4cb722" style="width: 50%;" alt=""></h2>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                        <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer">
                    <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
                    <ul class="list-unstyled" style="text-align: center;">
                        <li><a href="https://www.facebook.com/profile.php?id=100065380270425" class="py-2 d-block"><i
                                    class="fa-brands fa-facebook"
                                    style="font-size: 20px;margin-right: 5px; color: #3B5998;"></i>Facebook</a></li>
                        <li><a href="https://www.instagram.com/nguyenvantruong06/" class="py-2 d-block"><i
                                    class="fa-brands fa-instagram"
                                    style="font-size: 20px;margin-right: 5px; color: #8A3AB9;"></i>Instagram</a></li>
                        <li><a href="#" class="py-2 d-block"><i class="fa-brands fa-twitter"
                                    style="font-size: 20px;margin-right: 5px; color: #1DA1F2;"></i>Twitter</a></li>
                        <li><a href="https://www.youtube.com/channel/UCgGULirTp1PJqWRT-HOMORg" class="py-2 d-block"><i
                                    class="fa-brands fa-youtube"
                                    style="font-size: 20px;margin-right: 5px; color: #EA4335;"></i>Youtube</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer">
                    <h2 class="ftco-heading-2">Đối Tác</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">Adventure</a></li>
                        <li><a href="#" class="py-2 d-block">Hotel and Restaurant</a></li>
                        <li>
                            <img src="https://firebasestorage.googleapis.com/v0/b/travel-bee-e0b59.appspot.com/o/banquyen.jpg?alt=media&token=6d282be0-f31b-48c5-91c1-774c02b48834" style="width: 40%;" alt="">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md pt-5 border-left">
                <div class="ftco-footer">
                    <h2 class="ftco-heading-2">Địa Chỉ</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon fa fa-map-marker"></span><span class="text"
                                    style="text-align: left;">Công viên phần mềm Quang QTSC Building 1, Trung, P Q.12,
                                    Thành phố Hồ Chí Minh, Việt Nam</span></li>
                            <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">
                                        0999999999</span></a></li>
                            <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                        class="text">travelbee@gmail.com</span></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p style="text-align: center;"><Span style="color:greenyellow ;font-size: large; ">Travel</Span>
        <span style="font-size: large; color: orangered;">Bee</span>
        là website về dịch vụ tour du lịch đến từ sinh viên trường
        <span style="font-size: large; color: orangered;">FPT Polytechnic</span>
    </p>
</footer>