<section class=" hero-wrap-2 js-fullheight"
    style="background-image: url('images/bg_4.jpg');height: 40rem; background-color: rgba(0, green, blue, alpha);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9  pb-5 text-center" style="margin-top: 30rem;">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                                class="fa fa-chevron-right"></i></a></span> <span>Thông tin tài khoản <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Thông tin tài khoản</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" style="margin-top: 20px;">
    <div class="row" style="margin: 10px;">
        <div class="col-lg-4">
            <div class="image-avatar">
                <img src="/images/avt.jpg" alt="" >
            </div>
            <div class="title-infor">
                <span>Nguyễn Văn Trường</span>
            </div>
            <div class="qr-profile">
                <img src="../images/qrcode.png" alt="">
            </div>
            <div class="social-profile">
              <h6>Chia sẻ với</h6>
              <div>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-youtube"></i>
              </div>
            </div>
        </div>
        <div class="col-lg-8">
            <h1 style="text-align: center;">Thông tin</h1>
            <form>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email </label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Họ và Tên</label>
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Ngày Sinh </label>
                    <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Ngày Tạo</label>
                    <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Ngày cập nhật</label>
                    <input type="date" class="form-control" id="exampleInputPassword1" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Địa chỉ</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
            
                <button type="Lưu" class="btn btn-primary py-3 px-4" >Submit</button>
              </form>
        </div>
        
    </div>
</div>