<style>
    /* Ẩn thanh cuộn ngang cho input file */
    input[type="file"]::-webkit-file-upload-button {
        visibility: hidden;
    }

    input[type="file"] {
        overflow: hidden;
        white-space: nowrap;
    }

    input[type="file"]+label {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        cursor: pointer;
        display: inline-block;
    }
</style>
<section class=" hero-wrap-2 js-fullheight"
    style="background-image: url('images/bg_4.jpg');height: 40rem; background-color: rgba(0, green, blue, alpha);">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9  pb-5 text-center" style="margin-top: 30rem;">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                                class="fa fa-chevron-right"></i></a></span> <span>Thông Tin <i
                            class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Thông tin</h1>
            </div>
        </div>
    </div>
</section>

<div class="container" ng-controller="inforUserController">
    <br>
    <h1 style="text-align: center;">Thông tin</h1>
    <div class="row">
        <div class="col-sm-8">
            <form>
                <div class="form-group">
                    <label for="exampleInputPassword1">{{language.in4_fullname}}</label>
                    <input type="text" ng-model="in4.fullname" class="form-control" id="exampleInputPassword1"
                        placeholder="FullName" required disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">{{language.in4_address}}</label>
                    <input type="text" ng-model="in4.address" class="form-control" id="exampleInputPassword1"
                        placeholder="Password" required disabled>
                </div>
                <div class="form-group">
                    <label for="cccd">{{language.in4_passport}}</label>
                    <input type="text" class="form-control" name="txtcccd" ng-model="in4.cccd"
                        ng-pattern="/^[0-9]{12}$/" placeholder="CCCD:" required disabled>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" class="form-control" name="txtEmail" id="email" ng-model="in4.email"
                        placeholder="{{language.in4_nhapemail}}" required disabled>
                </div>

                <div class="form-group">
                    <label for="phone">{{language.in4_phone}}</label>
                    <input type="text" class="form-control" name="txtnumberphone" ng-model="in4.numberphone"
                        ng-pattern="/^[0-9]{10}$/" placeholder="{{language.in4_nhapsdt}}" required disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">{{language.in4_nametour}}</label>
                    <input type="datetime" ng-value="in4.updatedate" placeholder="{{language.in4_nametour}}"ng-model="in4.nametour"
                        class="form-control" disabled>
                </div>
                <div class="form-group">
                    <label for="member">{{language.in4_member}}</label>
                    <input type="number" class="form-control" name="txtmember" ng-change="memberChange()"
                        ng-model="in4.member" min="0" id="member" placeholder="{{language.in4_numberof}}" required
                        disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{language.in4_startday}} </label>
                    <input type="date" ng-model="in4.startday" class="form-control" id="exampleInputEmail1"
                        aria-describedby="" placeholder="Enter email" required disabled>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{language.in4_endday}} </label>
                    <input type="date" ng-model="in4.endday" class="form-control" id="exampleInputEmail1"
                        aria-describedby="" placeholder="Enter email" required disabled>
                </div>
                <div class="form-group">
                    <label for="member">{{language.in4_all}}</label>
                    <input type="text" class="form-control" id="member" ng-model="in4.price" disabled
                        placeholder="VND" required>
                </div>
                <button type="button" class="btn btn-primary py-3 px-4" style="margin-left: 40%;" ng-click="save()">Đặt Tour</button>
            </form>
        </div>
        <div class="col-sm-4">
            <div class="form-group" style="margin-top: 8%;">
                <label for="member">{{language.in4_note}}</label>
                <textarea class="form-control" name="" id="" cols="20" rows="10"></textarea>
            </div>
            <div class="form-group center" style=" margin: 0 auto; ">
                <img class="" src="/images/destination-9.jpg" alt="" style="max-width: 90%; margin-left: 5%; border-radius: 5px;">
            </div>
            <div class="qr-profile">
                <img src="../images/qrcode.png" alt="">
            </div>
        </div>
        
    </div>
    <br>
</div>

</div>
</div>