<section class="containers forms">
  <div class="form login">
    <div class="form-content">
      <header>Đăng Nhập</header>
      <form action="#">
        <div class="form-group">
          <label for="exampleInputEmail1">Email *</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">

        </div>

        <div class="form-group">
          <label for="exampleInputEmail1">Mật Khẩu *</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email">

        </div>

        <div class="form-link">
          <a href="#" class="forgot-pass" style="color: white;">Forgot password?</a>
        </div>

        <div class="field button-field">
          <button>Login</button>
        </div>
      </form>

      <div class="form-link">
        <span style="color: white;">Don't have an account? <a href="#" class="link signup-link">Đăng Nhập</a></span>
      </div>
    </div>

    <div class="media-options color-facebook">
      <a href="#" class="field facebook">
        <i class="fa-brands fa-facebook"></i>
        <span>Login with Facebook</span>
      </a>
    </div>

    <div class="media-options color-google">
      <a href="#" class="field google">
        <i class="fa-brands fa-google"></i>
        <span>Login with Google</span>
      </a>
    </div>

  </div>

  <!-- Signup Form -->
</section>