<div class="row" ng-controller="qrcodepaymentController" style="display: flex; flex-flow: column; justify-content: center; align-items: center; background: url('https://vietabank.com.vn/uploads/files/khach-hang-ca-nhan/cac-dich-vu-khac/dich-vu-thanh-toan-hoa-don/banner-inner-04.jpg') no-repeat;">
    <div style="text-align: center; margin: 10%;">
        <h5 style="color: white; font-weight: 300;">Mở App Ngân hàng, quét mã QRCode và nhập số tiền cần chuyển</h5>
        <img style="border-radius: 10px; width: 300px;" src="https://api.vietqr.io/TPbank/70007092005/SO TIEN/NOI DUNG/vietqr_net_2.jpg?accountName=NGUY%E1%BB%84N%20PH%C3%9E%20KH%C6%AF%C6%A0NG" alt="">
        <h6  class="check"  style="color: white; margin-top: 10px;">Thời gian thanh toán của bạn còn lại : <span style="color: red;"> {{check}} </span> giây</h6>
    </div>

</div>
