<section class="containers forms">
    <div class="form signup">
        <div class="form-content">
            <header>Đăng Ký</header>
            <form action="#">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email *</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                  
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Mật Khẩu *</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                  
                </div>

                <div class="form-group">
                    <label for="exampleInputEmail1">Xác nhận mật khẩu *</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Enter email">
                  
                </div>
                <br>

                <div class="field button-field">
                    <button>Đăng Ký</button>
                </div>
            </form>

            <div class="form-link">
                <span style="color: white;">Already have an account? <a href="#"
                        class="link login-link">Login</a></span>
            </div>
        </div>


        <div class="media-options color-facebook">
            <a href="#" class="field facebook color">
                <i class="fa-brands fa-facebook"></i>
                <span>Login with Facebook</span>
            </a>
        </div>

        <div class="media-options color-google">
            <a href="#" class="field google color-google">
                <i class="fa-brands fa-google"></i>
                <span>Login with Google</span>
            </a>
        </div>

    </div>
</section>